<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: baseHeader(~{::title},~{::link})">
<!--    <link rel="stylesheet" th:href="@{/css/awesome.min.css}">-->
    <link rel="stylesheet" th:href="@{static/css/style.css}">
</head>
<body>
<nav th:fragment="nav">

    <h1>CodeFellowShip</h1>
    <ul>
        <ul>
            <li sec:authorize="isAnonymous()"><a class="nav-link" href="/login">Login</a></li>
            <li sec:authorize="isAuthenticated()">Wellcome, <span sec:authentication="name"></span>!</li>
            <li sec:authorize="isAuthenticated()"> <a th:href="${'/profile/'+ username}">Profile</a></li>
            <li sec:authorize="isAuthenticated()"><a class="nav-link" href="/perform_logout">Logout</a></li>
        </ul>



    </ul>
</nav>
</body>
</html>