<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<!--    <link rel="stylesheet" href="/css/reset.css" />-->
<!--    <link rel="stylesheet" href="/css/style.css" />-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>CodeFellowShip</title>
</head>
<body>
<div th:insert="fragments/nav :: nav"></div>



<form sec:authorize="isAuthenticated()" action="/post"   method="POST">
    <label for="body">Title:  <input type="text" name="body" id="body"> </label><br>
    <input type="submit" value="post">
</form>





<div class="albums">
    <div  th:each="post : ${posts}">
        <p><span sec:authentication="name"></span>: <span th:text=${post.body}></span></p>
<!--         <span th:text=${post.timestamp}></span>-->

        <hr>
    </div>
</div>


<footer><SPAN>All Rights Reserved 	&copy;  Emam Shararah</SPAN></footer>
</body>
</html>