<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>CodeFellowShip</title>
</head>
<body>
<h1>CodeFellowShip</h1>

    <a href="/login">Log in</a> <span>Or</span> <a href="/signup">Sign up</a><br>



    <a th:href="${'/profile/'+ username}">Profile</a>






<footer><SPAN>All Rights Reserved 	&copy;  Emam Shararah</SPAN></footer>
</body>
</html>