<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>CodeFellowShip</title>
</head>
<body>


<div>
    <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png">
   <span> Username:  <span th:text="${user.getUsername()}"></span> </span><br>
    <span> First name:  <span th:text="${user.firstName}"></span> </span><br>
    <span> Last name:  <span th:text="${user.lastName}"></span> </span><br>
    <span> Bio:  <span th:text="${user.bio}"></span> </span><br>
    <span> Birth date:  <span th:text="${user.dateOfBirth}"></span> </span><br>
    <a href="/">Home</a>
    
</div>




    <footer><SPAN>All Rights Reserved 	&copy;  Emam Shararah</SPAN></footer>
</body>
</html>